---
layout: default
---

<!-- Source: http://liveweave.com/JlSG6D -->
<html class="post">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src='http://codemirror.net/lib/codemirror.js'></script>
<script src='http://codemirror.net/mode/xml/xml.js'></script>
<script src='http://codemirror.net/mode/javascript/javascript.js'></script>
<script src='http://codemirror.net/mode/css/css.js'></script>
<script src='http://codemirror.net/mode/htmlmixed/htmlmixed.js'></script>
<link rel='stylesheet' href='http://codemirror.net/lib/codemirror.css'>
<style type='text/css'>
    .CodeMirror {
        float: left;
        width: 100%;
        border: 1px solid gray;
        height: auto;
    }

    .CodePreview {
        width: 100%;
        float: left;
        border: 1px solid gray;
    }
</style>
<script>

    function renderCode(id, file, code, js, renderPreview) {
        var delay;

        var boilerplateHTML = "<!DOCTYPE html><html lang='en'><head> <meta charset='UTF-8'><title><\/title><\/head><body><script src='{{site.baseurl}}/lectures/logger.js'\/>\n";
        var endHTML = "\n<\/script><div id='log'></div><\/body><\/html>";

        var highlightLanguage = "text/html";
        if (js == "true") {
            highlightLanguage = "text/javascript"
        }

        // Initialize CodeMirror editor
        var editor = CodeMirror.fromTextArea(document.getElementById(id), {
            mode: highlightLanguage,
            tabMode: 'indent',
            lineNumbers: true,
            lineWrapping: true,
            autoCloseTags: true
        });

        // Live preview
        editor.on("change", function () {
            clearTimeout(delay);
            delay = setTimeout(updatePreview, 1000);
        });

        function updatePreview() {

            if (renderPreview == "false" && js == "true") {
                // if we don't want to see a preview we just evaluate the javascript code
                eval(editor.getValue());
            }
            if (renderPreview != "false" && js != "true") {

                var previewFrame = document.getElementById('preview-' + id);
                if (previewFrame) {
                    // here you can set the height, I delete it first, then I make it again
                    //    previewFrame.height = "";
                    //  previewFrame.height = previewFrame.contentWindow.document.body.scrollHeight + "px";


                    var preview = previewFrame.contentDocument || previewFrame.contentWindow.document;

                    preview.open();
                    preview.write(editor.getValue());
                    preview.close();
                    var body = previewFrame.contentWindow.document.body;
                    if (body) {
                        previewFrame.height = body.scrollHeight + "px";
                    }
                }
            }

        }

        setTimeout(updatePreview, 300);

        function saveTextAsFile() {
            var textToWrite = document.getElementById(id).value;
            var textFileAsBlob = new Blob([textToWrite], {
                type: 'text/plain'
            });
            var fileNameToSaveAs = "myfile.html";

            var downloadLink = document.createElement("a");
            downloadLink.download = fileNameToSaveAs;
            downloadLink.innerHTML = "Download File";
            if (window.webkitURL != null) {
                // Chrome allows the link to be clicked
                // without actually adding it to the DOM.
                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
            } else {
                // Firefox requires the link to be added to the DOM
                // before it can be clicked.
                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
                downloadLink.onclick = destroyClickedElement;
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
            }

            downloadLink.click();
        }

        function destroyClickedElement(event) {
            document.body.removeChild(event.target);
        }

        function loadfile(input) {
            var reader = new FileReader();
            reader.onload = function (e) {
                editor.setValue(e.target.result);
            }
            reader.readAsText(input.files[0]);
        }

        var input = document.getElementById("select");

        function selectTheme() {
            var theme = input.options[input.selectedIndex].innerHTML;
            editor.setOption("theme", theme);
        }

        var choice = document.location.search && decodeURIComponent(document.location.search.slice(1));
        if (choice) {
            input.value = choice;
            editor.setOption("theme", choice);
        }


        // init with file or code
        if (file != "") {
            $.get(file, function (data) {
                editor.setValue(data);

            });
        } else if (code != "") {

            editor.setValue(code);

        }


    }


</script>
</header>

<header class="post-header">
    <h1>{{ page.title }}</h1>

</header>

<article class="post-content">
    {{ content }}
</article>

</div>