---
layout: page
---
<div id="schedule">

  <h2 id="week_schedule"> Weekly Schedule Overview</h2>
    <table style='width:100%;'>
    <colgroup>
    <col style="background-color:#e6c39d;">
    <col span="6" style="background-color: #c3ced0">
    </colgroup>
    <thead>
    <tr style="text-align:center;">
      <td> old unit </td><td colspan="6"> new unit </td>
    </tr>
      <th> Mon </th> <th> Tue </th> <th> Wed </th> <th> Thu </th> <th> Fri </th><th>Sat</th><th>Sun</th>
    </thead>
    <tbody>
      <tr style="text-align:center;">
        <td> </td><td> <b>2:29pm</b> <br>Pre-reading and quiz due </td><td> </td><td> <b>2:29pm</b> <br>Pre-reading and quiz due </td><td></td><td></td><td></td>
      </tr>
      <tr style="text-align:center;">
        <td> <b>11:59pm</b> Homework due </td><td> <b>2:30-4pm</b> Lab <br>(release of homework)</td><td> </td><td> <b>2:30-4:00pm</b> Lecture </td><td></td><td></td><td></td>
      </tr>
      <tr style="text-align:center;">
        <td colspan="1" style="background-color:white"></td><td colspan="4"> Studios </td> <td colspan="2" style="background-color:white">
      </tr>
    </tbody>
    </table>
    
<h2 id="class_schedule">Semester Schedule</h2>

<iframe src="https://docs.google.com/spreadsheets/d/1_M-i3wfAaEBHPnEkIP1A6k_w3cEGjEEc0nkHehsaEL0/pubhtml?gid=65899131&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="800"></iframe>

<h2 id="lab_oh_schedule">Studios and Office Hours</h2>

<iframe src="https://docs.google.com/spreadsheets/d/1-4QIVTflCg2_da4tCDqgmukkrfyBJNIpB9o4GLbnzjE/pubhtml?gid=65899131&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="800"></iframe>


</div>
