th
{
background-color:#CCCCCC;
text-align:center;
font-size:12pt;
font-weight:bold;
}

.cs
{
color: #AD3D34;
text-decoration: none;
font-weight:900;
vertical-align:text-top;
}

a:link
{
  color: #AD3D34;
}

a:focus a:focus {
  color: #7C2C25;
}
a:active {color:#7C2C25;}
a:visited {color:#7C2C25;}

.number
{
font-size:1.3em;
text-decoration: none;
vertical-align:text-bottom;
}

.rest
{
text-decoration: none;
vertical-align:text-top;
}