

<html>

<head>
    <meta charset="utf-8">


</head>

<body>
<textarea id="{{include.id}}" name="{{include.id}}"></textarea>

{% if include.preview != "false" %}
<iframe id="preview-{{include.id}}" class="CodePreview"></iframe>
<!--<input type="file" onchange="loadfile(this)"> <a href="#my-header" onclick='saveTextAsFile()'>Save/Download</a>-->
{% endif %}
<script>
    renderCode("{{ include.id }}", "{{ include.file }}", "{{include.code}}", "{{include.js}}", "{{include.preview}}");
</script>
<i><a href="{{ include.file }}">See output in new page.</a></i>

</body>

</html>