<html>
<head>
    <title>textbox</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">

    </script>
</head>
<body>


<div id="codebox">
</div>
</body>
</html>

<script src="{{ site.baseurl}}/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="{{ site.baseurl}}/codemirror/lib/codemirror.css">
<script src="{{ site.baseurl}}/codemirror/mode/javascript/javascript.js"></script>

<script type="text/javascript">
    var myCodeMirror = CodeMirror(document.getElementById("codebox"), {
        value: $.get("{{ include.file }}", function(data){return data; }),
        mode:  "javascript"
    });

//    var myCodeMirror2 = CodeMirror.fromTextArea(codebox, {
// value: "function myScript(){return 100;}\n",
//        mode:  "javascript" });
//    console.log("Wuhu");

$.get("{{ include.file }}", function(data){
    $('textarea#codebox').val(data);
});
</script>