{% assign entered_lecture = false %}

{% for lecture in site.lectures %}
{% if lecture.key == include.key %}
{% assign entered_lecture = true %}
<div class="lecture">
    <div style="display:block; height:30px;">
        <h3>Lecture {{ include.number }}: {{lecture.topic }}</h3>
        <span class="date">{{ include.date }}</span>
    </div>

    <p><b>{{lecture.description}}</b></p>
    {% if include.intro-assignment %}
    <p><b>Introduction to <a href="{{include.intro-assignment-url}}">{{ include.intro-assignment }}</a>.</b></p>
    {% endif %}
    {% if lecture.guest %}
    Guest lecturer: <a href="{{lecture.guest-url}}">{{ lecture.guest }}</a>
    {% endif %}


    {% if lecture.slides %}
    <p><a href="{{ site.baseurl }}/assets/slides/{{ lecture.slides }}">Download slides</a></p>
    {% endif %}
    {% if lecture.interactive-content %}
    {% for link in lecture.interactive-content %}
    {{ link | markdownify}}
    {% endfor %}
    {% endif %}

    <div style="margin-top: 10px">
        {% if lecture.mandatory-reading != "" %}

        <h4>Mandatory reading</h4>
        {{ lecture.mandatory-reading | markdownify}}
        {% endif %}

        {% if lecture.recommended-reading != "" %}
        <h4>Recommended reading</h4>
        {{ lecture.recommended-reading | markdownify}}
        {% endif %}


    </div>


</div>


{% endif %}
{% endfor %}

{% if entered_lecture == false %}
<div class="lecture">
    <div style="display:block; height:30px;">
        <h3>Lecture {{ include.number }}: Topic to be announced. </h3>
        <span class="date">{{ include.date }}</span>
    </div>
    </div>
{% endif %}