/* General page style */
body {
    font-family: Helvetica;
    color: #424242;
}

div.hdrimg {
    background: url('../img/hdrimg1.jpg') no-repeat 50% 50%;
    font-weight: bold;
    color: #ffffff;
}

span {
    color: #ea5803;
}

.page-header {
    font-family: "Helvetica";
    font-size: 56px;
    font-weight: bold;
    color: #424242;
}

h2 {
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: bold;
    color: #424242;
}

/* Choropleth Map Style */
path {
    stroke:black;
    stroke-width: 1px;
}

.legend {
    font-size: 11px;
}

.label {
    color: #424242;
    font-size: 18px;
}

/* Tooltip Style */
div.tooltip {
    position: absolute;
    text-align: left;
    display: inline;
    padding: 6px;
    font: 13px sans-serif;
    background-color: #000;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    color: #fff;
}

.d3-tip {
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    position: fixed;
    pointer-events: none;
}

/* Tree Map Style */
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #ea5803;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #424242;
    stroke-width: 2px;
}

/* Chart Style */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 11px sans-serif;
}

.x.axis path {
    display: none;
}

.legendText, .legendNA {
    font: 11px sans-serif;
    color: black;
}
